
  <header class="header">
    <div class="logo">iiko-like
      <div id="userName"></div>
      <div id="userRole"></div>

    </div>

    <!-- <div class="user-info">
    </div> -->
    <div class="rightGroup">

      <button id="menuBtn">
        <img src="/icons/free-icon-menu-6059003.png" alt="Меню" width="30" height="30">
      </button>
      <button id="logoutBtn">
        <img src="/icons/free-icon-padlock-159452.png" alt="Выйти" width="21" height="21">
      </button>
      
    </div>


  </header>